{% extends "base.html" %}

{% load static %}

{% block content %}

<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper p-5">
        <!-- Content Header (Page header) -->

        <!-- تصنيفات-->

        <div class="row justify-content-center mb-3">
            <div class="col-4 ">
                <ul class="nav">
                    {% for cat in category|slice:'4' %}
                    <li class="nav-item cat{{cat.id}}">
                        <a id="" class="nav-link bg-primary" href="#">{{cat.name}}</a>
                    </li>
                    {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <a href="{% url 'books' %}" class="nav-link">
                    <h4>الكتب </h4>
                </a>
            </div>

        </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        
                        {% for book in books %}
                        <!-- الكتب -->
                           <div id="" class="col-md-4 bookhide book{{book.category.id}} book{{book.status}}">
                            <!-- Widget: user widget style 1 -->
                            <div id="" class="card card-widget widget-user ">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <!-- قائمة منسدلة -->
                                <div style="position: absolute;" class="btn-group">
                                </div>
                                {% if book.photo_book %}
                                <div style="background: url({{book.photo_book.url}}); background-size: cover" class="widget-user-header bg-info">
                                {% endif %}
                                    <h3 class="widget-user-username">{{book.title}}</h3>
                                    <h5 class="widget-user-desc">{{book.author}}</h5>
                                </div>
                                <div class="widget-user-image">
                                    {% if book.photo_author %}
                                    <img style="width:100px; height: 100px;" class="img-circle elevation-2" src={{book.photo_author.url}} alt="User Avatar">
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">{{book.pages}}</h5>
                                                <span class="description-text">صفحة</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                {% if book.price %}
                                                <h5 class="description-header">${{book.price}}</h5>
                                                <span class="description-text">السعر</span>
                                                {% elif book.retal_price_day %}
                                                <h5 class="description-header">${{book.retal_price_day}}</h5>
                                                <span class="description-text">سعر ايجار اليوم</span>
                                                {% endif %}
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                {% if book.status == 'availble'%}
                                                <h5 class="description-header text-success">{{book.status}}</h5>
                                                <span class="description-text">الحالة</span>
                                                {%  elif book.status == 'rental'  %}
                                                <h5 class="description-header text-warning">{{book.status}}</h5>
                                                <span class="description-text">الحالة</span>
                                                {% else %}
                                                <h5 class="description-header text-danger">{{book.status}}</h5>
                                                <span class="description-text">الحالة</span>
                                                {% endif %}
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                           </div>
                        <!-- نهاية الكتاب -->
                    {% endfor %}
                    </div>
                </div>
                <!-- /.card-body -->

                <!-- /.card-footer -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /.content-wrapper -->
</div>


{% endblock content %}