<!-- في المكان ده هحط footer -->
<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2023-2024 <a target=_blank href="https://www.facebook.com/share/1B6yZaJwFD/?mibextid=wwXIfr">Mahmoud Abozahra</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://www.facebook.com/share/1B6yZaJwFD/?mibextid=wwXIfr"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/_mahmoud_abozahra_?igsh=bzcyNDJpZGh0dDlh&utm_source=qr"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
</footer>